body {
    background-color: #D5E1EF;
    font-family: 'Outfit', Verdana, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0px;
    gap: 10px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.card {
    width: 300px;
    background-color: white;
    border-radius: 25px;
    border: 2px white;
    padding: 1rem; /*control top white space by adding padding*/
}

.qr-code { 
    width: 288px;
    height: 288px;
    border-radius: 10px;
    border: 2px white;
    align-self: center;
    padding: 0px;
}

.title { 
    font-weight: bold;
    font-size: 22px;
    text-wrap: balance;
}

.description {
    color: gray;
    font-size: 15px;
    /* text-wrap: balance; */
    padding: 0px 18px 16px;
}

abbr{
    text-decoration: none;
}