body { 
    background-color: #D5E1EF;
    font-family: 'Outfit', Verdana, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    height: 100%;  
    
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.group { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 497px;
    background-color: white;
    border-radius: 25px;
    border: 2px white;
}

.qr-code { 
    width: 288px;
    height: 288px;
    border-radius: 10px;
    border: 2px white;
    align-self: center;
    padding: 0px;
}


.title { 
    font-weight: bold;
    font-size: 22px;
    text-wrap: balance;
}

.description { 
    color: gray;
    font-size: 15px;
    text-wrap: balance;
}